.form_container {
    margin: 30vh auto;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.form input {
    padding: 0.5em 0.8em;
}

.form button {
    padding: 0.5em 0.8em;
}